In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/Rustem_Yeleussinov/OneDrive - EPAM/04_Training and Education/10_Certification/Udacity/DA/weather.csv')
df.head()

   year      city        country    city.1  local_avg_temp  global_avg_temp
0  1849  San Jose  United States  San Jose           14.12             7.98
1  1850  San Jose  United States  San Jose           13.80             7.90
2  1851  San Jose  United States  San Jose           14.39             8.18
3  1852  San Jose  United States  San Jose           13.81             8.10
4  1853  San Jose  United States  San Jose           14.40             8.04

In [2]:
df_pivot = pd.pivot_table(df, values = ['local_avg_temp','global_avg_temp'],index = 'year')
df_pivot.head()

      global_avg_temp  local_avg_temp
year
1849             7.98           14.12
1850             7.90           13.80
1851             8.18           14.39
1852             8.10           13.81
1853             8.04           14.40

In [4]:
df_pivot['moving_avg_10_local'] = df_pivot.iloc[:,0].rolling(window=10).mean()
df_pivot.head(15)

,global_avg_temp,local_avg_temp,moving_avg_10_global,moving_avg_10_local
year,,,,
1849,7.98,14.12,NaN,NaN
1850,7.90,13.80,NaN,NaN
1851,8.18,14.39,NaN,NaN
1852,8.10,13.81,NaN,NaN
1853,8.04,14.40,NaN,NaN
1854,8.21,13.98,NaN,NaN
1855,8.11,14.20,NaN,NaN
1856,8.00,14.10,NaN,NaN
1857,7.76,14.78,NaN,NaN
1858,8.10,14.19,14.177,8.038
1859,8.25,13.71,14.136,8.065
1860,7.96,13.81,14.137,8.071
1861,7.85,14.88,14.186,8.038
1862,7.56,14.43,14.248,7.984
1863,8.11,14.43,14.251,7.991

In [5]:
trace0 = go.Scatter(
    x = df_pivot.index,
    y = df_pivot.moving_avg_10_global,
    mode = 'lines',
    name = 'Global Avg Temp'
)

trace1 = go.Scatter(
    x = df_pivot.index,
    y = df_pivot.moving_avg_10_local,
    mode = 'lines',
    name = 'San Jose Avg Temp'    
)

In [6]:
data = [trace0, trace1]

In [7]:
layout = go.Layout(title = '10 years moving average Global vs San Jose', xaxis_title="Years",
    yaxis_title="Temperature",)

In [8]:
figure = go.Figure(data = data, layout = layout)
pyo.plot(figure)

'temp-plot.html'